body {
    margin: 0%;
    padding: 0%;
    /* height: 100vh; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    background: url(./img/new\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


*{
    color: #fff;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    
  }
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #000;
    z-index: 1000;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #loader-wrapper .loader-section.section-left {
    left: 0;
  }
  #loader-wrapper .loader-section.section-right {
    right: 0;
  }
  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    z-index: 99999;
  }
  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
  }
  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
  .loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  } 
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
  }
  .loaded #loader {
    opacity: 0;
  }


.container {
    /* border: 1px solid; */
    margin-right: 20px;
    /* margin-top: 20px; ; */
    display: flex;
}

@keyframes load {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.top {
    display: flex;
    position: relative;
    top: 50px;
}

.path {
    position: relative;
    width: 20%;
    left: 5%;
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    transform: scaleX(1);

}

.uppersec {
    width: 10%;
    position: absolute;
    right: 5%;
    padding: 10px;
    display: flex;

}

.toggle {
    width: 30px;
    color: #fff;
    margin-left: 25px;
    cursor: pointer;
}

.toggle:hover {
    color: #fff;
}

.toggle>i {
    font-size: 40px;
    transition: 0.2s;
}

.contents {
    /* border: 1px solid; */
    width: 50%;
    /* position: relative; */
    margin-top: 130px;
   margin-left: 10px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;

}

.head {
    /* border: 1px solid; */
    letter-spacing: 2.5px;
    font-size: 3em;
    transform: scaleX(1.5);
    width: 60%;
    margin: 10px auto;
    font-family: 'Kanit', sans-serif;
}

.hr {
    border: 2px solid white
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}

.Highlights {
    font-family: 'Kanit', sans-serif;
    font-size: 1.1em;
}

.ImgSection {
    /* border: 1px solid; */
    width: 40%;
    position: relative;
    top: 130px;
    left: 12%;
    height: 400px;
    /* top: 50px; */
    /* overflow: hidden; */

}

.ImgSection img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

}

.Mying {
    /* border: 1px solid; */
    height: 560px;
    width: 290px;
    border-radius: 20px;
    position: relative;
    top: 10px;
    /* bottom: 10px; */

}

.bg-img {
    height: 460px;
}

.ImgSection:hover .bg-img {
    bottom: 40px;

}

.ImgSection:hover .Mying {
    left: 54%;
}

#cv {
    border: none;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    background: grey;
    margin-top: 20px;
    margin-left: 50px;
    width: 15%;
    color: black;
    cursor: pointer;
    animation: load2 3s ;
    /* animation-delay: 1s; */
}


@keyframes load2 {
    from {
        opacity: 0;
        transform: translateX(-200%
        );
    }

    to {
        opacity: 1;
        transform: translatex(0);
    }

}





:root {
    --dark: #d2d2d7;
    --purple: #c2c2ff;
}


#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background: var(--purple);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9;
    transition: transform .5s;
}

#cursor.hovered {
    background: var(--purple);
    transform: scale(5.4);
}

#circle {
    position: absolute;
    pointer-events: none;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    border: 2px solid rgba(27, 24, 24, 0.5);
    transition: all .2s cubic-bezier(0, 0.5, 1, 1);
    z-index: 0;
}


/* responsive */



@media (max-width:1200px) and (min-width: 600px) {
    body {
        overflow: hidden;
        /* overflow-y: scroll; */
    }

    .toggle>i {
        font-size: 30px;
    }

    .head {
        font-size: 2.5em;
    }

    p {
        font-size: 1em;
    }

    .Highlights {
        font-size: 1.2em;
    }

    /* .container{border: 1px solid; */

    .ImgSection {
        /* border:1px solid ; */
        height: 300px;


    }

    .Mying {
        /* border: 1px solid; */
        height: 400px;
        width: 200px;
    }

    .bg-img {
        height: 400px;
        position: absolute;
        bottom: 100px;
    }

    #cv {
        font-size: 0.8em;
    }
}


@media (max-width: 600px) and (min-width:200px) {
    body {
        overflow-y: scroll;
    }

    .top {
        position: relative;
        top: 30px;
    }

    .uppersec {
        width: 10%;
        margin-right: 10px;

    }


    #loader{
        width: 100px;
        height: 100px;
       position: relative;
       top: 450px;
       left: 55%;
      
    }


    .toggle>i {
        font-size: 20px;
    }

    .path {
        /* border: 1px solid; */
        font-size: .8em;
        width: 50%;
        color: grey;
    }


    .container {
        /* border: 1px solid; */
        margin-top: 10px;
        display: block;
    }

    .contents {
        /* border: 1px solid; */
        width: 90%;
        margin: 30px auto;
        padding: 10px;
    }

    .head {
        font-size: 1.5em;
    }

    p {
        font-size: 0.8em;
    }

    .Highlights {
        font-size: 1.3em;
    }

    .ImgSection {
        /* border: 1px solid; */
        position: relative;
        top: 30px;
        left: 0px;
        width: 90%;
        margin: 0px auto;
        height: 400px;

    }

    .Mying {
        /* border: 1px solid; */
        height: 100%;
        width: 70%;
        position: relative;
        top: 10px;
        bottom: 10px;


    }

    .bg-img {
        height: 100%;
        position: absolute;
        bottom: 10px;
    }

    #cv {
        /* border: 1px solid; */
        width: 30%;
        font-size: 0.8em;
        margin-top: 100px;
        margin-left: 100px;
        margin-bottom: 200px;

    }
}