body {
    height: 100vh;
    overflow: hidden;
    background: url(./img/new\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


*{
    color: #fff;
}



#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    
  }
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #000;
    z-index: 1000;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #loader-wrapper .loader-section.section-left {
    left: 0;
  }
  #loader-wrapper .loader-section.section-right {
    right: 0;
  }
  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    z-index: 99999;
  }
  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
  }
  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
  .loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  } 
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
  }
  .loaded #loader {
    opacity: 0;
  }


@keyframes load {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.top {
    /* border: 1px solid; */
    display: flex;
    position: relative;
    top: 50px;
}



.uppersec {
    /* border: 1px solid black; */
    width: 10%;
    position: absolute;
    right: 5%;
    padding: 10px;
    display: flex;

}

.toggle {
    width: 30px;
    color: #000000;
    margin-left: 25px;
    cursor: pointer;
}

.toggle:hover {
    color: #000000;
}

.toggle>i {
    font-size: 40px;
    transition: 0.2s;
}


#Rec_elements {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    /* position: relative; */
    width: 35%;
    margin: 0px auto;
    margin-top: 50px;
    letter-spacing: 2.5px;
    font-size: 3.4em;
    transform: scaleX(1.5);

}


#Rec_elements a {
    /* border: 1px solid; */
    width: 90%;
    font-family: 'Kanit', sans-serif;
    font-weight: 400px;
    color: #fff;
    text-decoration: none;
    letter-spacing: normal;
    transition: 0.5s;

}

#Rec_elements>a:hover {
    /* margin-top: 5px; */
   
    margin-left: 20px;
}

.ReachMe {
    /* border: 1px solid; */
    width: 50%;
    position: relative;
    left: 25%;
    animation: load2 3s ;
}

@keyframes load2 {
    from {
        opacity: 0;
        transform: translateY(200%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.ReachMe a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Kanit', sans-serif;
    margin: 0px 10px;
}

.ReachMe a:hover {
    color: #fff;

}

.ReachMe>a {
    display: inline-block;
    position: relative;
    color: #fff;
    padding: 10px;
}

.ReachMe>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.ReachMe>a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

:root {
    --dark: #1f1f24;
    --purple: #c2c2ff;
}

#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background: var(--purple);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9;
    transition: transform .5s;
}

#cursor.hovered {
    background: var(--purple);
    transform: scale(5.4);
}

#circle {
    position: absolute;
    pointer-events: none;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    border: 2px solid rgba(27, 24, 24, 0.5);
    transition: all .2s cubic-bezier(0, 0.5, 1, 1);
    z-index: 0;
}