

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    background: url(./img/new\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* color: #fff; */
    /* animation: load 3s; */
    
}

*{
  color: #fff;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    
  }
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #000;
    z-index: 1000;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #loader-wrapper .loader-section.section-left {
    left: 0;
  }
  #loader-wrapper .loader-section.section-right {
    right: 0;
  }
  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
    z-index: 99999;
  }
  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
  }
  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
  }
  .loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  } 
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }

  .loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
  }
  .loaded #loader {
    opacity: 0;
  }



.container {
    
    /* border: 1px solid; */
    margin-right: 20px;
}

@keyframes load {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.top {
    /* border: 1px solid; */
    display: flex;
    position: relative;
    top: 50px;
}

.uppersec {
    /* border: 1px solid black; */
    width: 10%;
    position: absolute;
    right: 5%;
    padding: 10px;
    display: flex;
    /* animation: load 3s; */

}

.toggle {
    width: 30px;
    color: #000000;
    /* margin: 0px 0px; */
    margin-left: 25px;
    cursor: pointer;
    border: none;
    /* background-color: white; */
   

}

.toggle:hover {
    color: #000000;
}

.toggle>i {
    font-size: 40px;
    transition: 0.2s;
}

.para {
    width: 40%;
    margin: 0px auto;
    margin-top: 100px;
    letter-spacing: 2.5px;
    font-size: 3em;
    transform: scaleX(1.5);
    /* animation: load 3s; */

}


.About {
    /* font-size: 3em; */
    /* color: black; */
    font-family: 'Kanit', sans-serif;


}

.Outline {
    /* border: 1px solid; */
    font-family: 'Kanit', sans-serif;
    font-family: 'Londrina Outline', cursive;
  
    /* animation: load 3s; */
}




.hover-2>a {
    font-size: 1.4em;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.hover-2 {
    width: 50%;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #000000;
     background:
        linear-gradient(#d7d3d3 0 0) no-repeat calc(200% - var(--i, 0)*100%) 100% / 200% calc(100%*var(--i, 0) + .08em);
    transition: .3s calc(var(--i, 0)*.3s), background-position .3s calc(.3s - calc(var(--i, 0)*.3s));
    /* transition: all .3s;  */
    animation: load 3s;

}

.hover-2:hover {
    --i: 1;
   
    
}

.hover-2>a:hover {
    color: #000;
    cursor: pointer;
}

.Referpages {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* top: 100px; */
    width: 50%;
    margin: 10px auto;
    /* animation: load 3s; */

}

.Referpages>a {
    margin: 0px 10px;
    text-decoration: none;
    color: #fff;
}

.Referpages>a:hover {
    color: #fff;
    cursor: pointer;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #000;
    padding: 10px;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

:root {
  --dark: #ccccd8;
  --purple: #c2c2ff;
  }


  #cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background: var(--dark);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9;
    transition: transform .5s;
  }
  #cursor.hovered {
    background: var(--purple);
    transform: scale(5.4);
  }
  #circle {
    position: absolute;
    pointer-events: none;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    border: 2px solid rgba(27, 24, 24, 0.5);
    transition: all .2s cubic-bezier(0, 0.5, 1, 1);
    z-index: 0;
  }



