body {
    margin: 0%;
    padding: 0%;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    background: url(./img/new\ bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


* {
    color: #fff;
}




#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;

}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #000;
    z-index: 1000;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 99999;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.loaded #loader-wrapper {
    visibility: hidden;
    transform: translateY(-100%);
}

.loaded #loader {
    opacity: 0;
}




.container {
    /* animation: load 2s; */
    margin-right: 20px;


}

@keyframes load {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}


a:hover~.cursor {
    transform: scale(2);

}

/* #toggleDark{
        font-size: 30px;
        cursor: pointer;
        transform: translate(-50%, -50%);
} */
.top {
    display: flex;
    position: relative;
    top: 50px;
}

.path {
    position: relative;
    width: 20%;
    left: 5%;
    padding: 10px;
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    transform: scaleX(1);

}

.uppersec {
    width: 10%;
    position: absolute;
    right: 5%;
    padding: 10px;
    display: flex;

}

.toggle {
    width: 30px;
    color: #000;
    margin-left: 25px;
    cursor: pointer;
}

.toggle:hover {
    color: #000000;
}

.toggle>i {
    font-size: 40px;
    transition: 0.2s;
}

.contents {
    display: flex;
    position: relative;
    top: 100px;
    width: 100%;
    margin: 10px auto;

}

#bac .img {
    height: 350px;
    width: 40%;
}

.img img {
    min-height: 360px;
    width: 400px;
    /* border: 1px solid; */
    border-radius: 30px;
}

#ProjHead {
    font-size: 3em;
}

.PgAnchors {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;

}

.PgAnchors a {
    font-size: 2.5em;
    color: #fff;
    text-decoration: none;
    /* border: 1px solid; */
    /* width:50%; */
}

.PgAnchors a:hover {
    color: #fff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
    background: #000000;
}

:root {
    --dark: #7d7d87;
    --purple: #c2c2ff;
}

#cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    background: var(--purple);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9;
    transition: transform .5s;
}

#cursor.hovered {
    background: var(--purple);
    transform: scale(5.4);
}

#circle {
    position: absolute;
    pointer-events: none;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    border: 2px solid rgba(27, 24, 24, 0.5);
    transition: all .2s cubic-bezier(0, 0.5, 1, 1);
    z-index: 0;
}



/* respnive */

@media (max-width:1200px) and (min-width: 851px) {
    body {
        overflow: hidden;
        /* overflow-y: scroll; */
    }


    .toggle>i {
        font-size: 30px;
    }

    .contents {
        /* border: 1px solid; */
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

    }


    .img img {
        min-height: 360px;
        width: 350px;
        border: 1px solid;
        border-radius: 30px;
    }


    #ProjHead {
        font-size: 2.3em;
    }

    .PgAnchors {
        /* border: 1px solid; */
        width: 300px;
        margin-left: 10px;

    }

    .PgAnchors a {
        font-size: 2em;
    }
}


@media (max-width:850px) and (min-width:601px) {

.contents{
   
    width:110%;
}
    .img img {
        min-height: 300px;
        width: 220px;
        border-radius: 30px;
    }

    .PgAnchors {
        /* border: 1px solid; */
        width: 500px;
        margin-left: 10px;

    }

}


@media (max-width: 600px) and (min-width:200px) {
    body {
        overflow: hidden;
        /* overflow-y: scroll; */
    }

    .top {
        position: relative;
        top: 30px;
    }

    #loader {
        width: 100px;
        height: 100px;
        position: relative;
        top: 450px;
        left: 55%;

    }

    .uppersec {
        width: 10%;
        margin-right: 10px;

    }

    .toggle>i {
        font-size: 20px;
    }

    .path {
        /* border: 1px solid; */
        font-size: .8em;
        width: 50%;
        color: grey;
    }

    .img {
        display: none;
    }

    .contents {
        width: 100%;
        padding: 30px;
        top: 20px;
    }

    .PgAnchors {
        width: 100%;
    }

}